// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border: 1px solid #ccc;

.category {
  margin: 0 100px 50px 100px;
  border: $border;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.category h3 {
  padding: 5px;
  border-bottom: $border;
}

.board {
  margin: 10px;
  border-bottom: $border;
}
